@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'ubuntu', sans-serif;

}
nav ul{
    display:flex;
    
    list-style-type: None;
    height:65px;
    color: white;
    background-color: black;
    align-items: center;
}

nav ul li{
    padding: 10px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
    
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 65vh;
}
.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
}